.navbar .navbar-brand {
	color: #ddd;
	height: 40px;
}

.notibar a {
	color: #ddd;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	color: #009688;
	background-color: #ccc;
}

.navbar, .navbar.navbar-default {
	background-color: #009688;
	color: rgba(255, 255, 255, 0.84);
}