.navbar .navbar-brand {
	color: #ddd;
	height: 40px;
}

.notibar a {
	color: #ddd;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	color: #009688;
	background-color: #ccc;
}

.navbar, .navbar.navbar-default {
	background-color: #009688;
	color: rgba(255, 255, 255, 0.84);
}

#page-wrapper {
	margin-top: 2em;
}

.add-button {
	background: #337ab7;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.add-button i {
	color: #FFF;
}

.add-button:hover {
	background: red !important;
}

.center{
	text-align: center;
}

.form-group label.control-label{
	font-size: 16px;
	color: #333;
}

.category-panel{
	/* border: 2px solid; */
	/* border-color: aqua; */
	border-radius: 10px;
	color:white;
	margin: 1.5em 1.5em;
	padding: 2px 2px;
}

.category-panel .panel-body{
	padding: 2px 2px;
	margin:0px 0px;
	height: 100%;
}

.category-panel .panel-body .image{
	padding: 3px 3px;
}

.category-panel .panel-body .content{
	padding: 3px 3px;
	font-size: 1.6em;
	vertical-align: middle;
	text-align: center;
}